$navegacion:#212529;
$footer: #1d3c4e;
$links: white;
$tickets:rgb(10, 209, 10);
$buttom : #7ed957;
$basic: white;
$facebook: #41579A;
$whatsapp:#00e676;
$total: rgb(29, 189, 238, 0.3);
$azul : blue;
$celeste : lightblue;
$amarillo : yellow;



$paleta_de_colores:(
    navegacion: $navegacion,
    footer: $footer,
    links: $links,
    tickets: $tickets,
    buttom: $buttom,
    basic: $basic,
    total: $total,
    azul : $azul,
    celeste: $celeste,
    amarillo: $amarillo,
);